# Visual Studio temporary files
.vs/
bin/
obj/
*.user
*.suo
*.cache

# Visual Studio Code
.vscode/

# Archivos de configuración específicos del usuario
*.userprefs
*.usertasks

# ASP.NET Core
appsettings.Development.json
appsettings.Production.json

# NuGet
*.nupkg
packages/

# Logs
*.log
logs/

# Secrets / API Keys
secrets.json
appsettings.secrets.json